#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };
&mt { quick_tap_ms = <200>; };

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
        // zmk,matrix_transform = &extra_keys_transform;
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
          &kp TAB     &kp Q   &kp W   &kp E       &kp R     &kp T           &kp Y     &kp U   &kp I       &kp O     &kp P       &kp LBKT
          &kp LSHFT   &kp A   &kp S   &kp D       &kp F     &kp G           &kp H     &kp J   &kp K       &kp 0     &kp SEMI    &kp RBKT
          &kp LCTRL   &kp Z   &kp X   &kp C       &kp V     &kp B           &kp N     &kp M   &kp COMMA   &kp DOT   &kp FSLH    &kp SQT
                                      &kp LALT    &kp LWR   &kp SPACE       &kp RET   &kp RSE   &kp DEL
                        >;
                };

                lower_layer {
                        bindings = <
          &kp N1      &kp N2      &kp N3      &kp N4      &kp N5          &kp N6              &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS   &kp EQUAL
          &kp RSHFT   &kp ESC     &kp GRAVE   &kp UP      &kp C_VOL_UP    &kp C_VOL_DN        &kp F1    &kp F2    &kp F3    &kp F4    &kp F5      &kp F6
          &kp RCTRL   &kp CAPS    &kp LEFT    &kp DOWN    &kp RIGHT       &kp LGUI            &kp F7    &kp F8    &kp F9    &kp F10   &kp F11     &kp F12
                                              &kp RALT    &kp LWR         &kp SPACE           &kp RET   &kp RSE   &kp BSPC
                        >;
                };

                raise_layer {
                        bindings = <
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
                                              &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none
                        >;
                };

                adjust_layer {
                        bindings = <
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
                                              &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none
                        >;
                };
        };
};
