#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };
&mt { quick_tap_ms = <200>; };

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
        // zmk,matrix_transform = &extra_keys_transform;
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
          &kp TAB     &kp Q   &kp W   &kp E   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp LSHFT   &kp A   &kp S   &kp D   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp LCTRL   &kp Z   &kp X   &kp C   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
                                              &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none
                        >;
                };

                lower_layer {
                        bindings = <
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
                                              &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none
                        >;
                };

                raise_layer {
                        bindings = <
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
                                              &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none
                        >;
                };

                adjust_layer {
                        bindings = <
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
          &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none   &kp &none   &kp &none   &kp &none
                                              &kp &none   &kp &none   &kp &none       &kp &none   &kp &none   &kp &none
                        >;
                };
        };
};
