#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NAV 1
#define NUM 2
#define GAME 3

#define KEYS_L 0 1 2 3 4 5 12 13 14 15 16 23 24 25 26 27 28
#define KEYS_R 6 7 8 9 10 11 17 18 19 20 21 22 29 30 31 32 33 34 35
#define KEYS_T 36 37 38 39 40 41

&lt {
    quick_tap_ms = <200>;
    flavor = "hold-preferred";
};
&mt { quick_tap_ms = <200>; };

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
    };
};

/ {
        behaviors {
                lpht: left_positional_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        tapping-term-ms = <500>;
                        quick-tap-ms = <0>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <KEYS_R KEYS_T>;
                        hold-trigger-on-release;
                };
                rpht: right_positional_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        tapping-term-ms = <500>;
                        quick-tap-ms = <0>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <KEYS_L KEYS_T>;
                        hold-trigger-on-release;
                };
                doco: dot_colon {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp DOT>, <&kp COLON>;
                        mods = <(MOD_LSFT)>;
                };
                cose: comma_semicolon {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp COMMA>, <&kp SEMI>;
                        mods = <(MOD_LSFT)>;
                };
                unda: underscore_dash {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp UNDER>, <&kp MINUS>;
                        mods = <(MOD_LSFT)>;
                };
                para: parantheses {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp LPAR>, <&kp RPAR>;
                        mods = <(MOD_LSFT)>;
                };
                qout: qoutes {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp COMMA>, <&kp SEMI>;
                        mods = <(MOD_LSFT)>;
                };
                cubr: curly_braces {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp LBRC>, <&kp RBRC>;
                        mods = <(MOD_LSFT)>;
                };
                sqbr: square_brackets {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp LBKT>, <&kp RBKT>;
                        mods = <(MOD_LSFT)>;
                };
                slas: slashes {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp FSLH>, <&kp BSLH>;
                        mods = <(MOD_LSFT)>;
                };
                anbr: angle_brackets {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp LT>, <&kp GT>;
                        mods = <(MOD_LSFT)>;
                };
                quex: question_exclamation {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp QMARK>, <&kp EXCL>;
                        mods = <(MOD_LSFT)>;
                };
                bade: backspace_delete {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp BSPC>, <&kp DEL>;
                        mods = <(MOD_LSFT)>;
                };
        };

        combos {
                compatible = "zmk,combos";
                combo_sqbr {
                        timeout-ms = <30>;
                        key-positions = <2 3>;
                        bindings = <&sqbr>;
                };
                combo_para {
                        timeout-ms = <30>;
                        key-positions = <3 4>;
                        bindings = <&para>;
                };
                combo_qout {
                        timeout-ms = <30>;
                        key-positions = <7 8>;
                        bindings = <&qout>;
                };
                combo_slas {
                        timeout-ms = <30>;
                        key-positions = <8 9>;
                        bindings = <&slas>;
                };
                combo_anbr {
                        timeout-ms = <30>;
                        key-positions = <25 26>;
                        bindings = <&anbr>;
                };
                combo_cubr {
                        timeout-ms = <30>;
                        key-positions = <26 27>;
                        bindings = <&cubr>;
                };
                combo_unda {
                        timeout-ms = <30>;
                        key-positions = <31 32>;
                        bindings = <&unda>;
                };
                combo_esc {
                        timeout-ms = <30>;
                        key-positions = <32 33>;
                        bindings = <&kp ESC>;
                };
                combo_gaming {
                        timeout-ms = <30>;
                        key-positions = <36 41>;
                        bindings = <&tog GAME>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
&kp ESC        &kp Q         &kp W         &kp F         &kp P         &kp G                   &kp J         &kp L         &kp U         &kp Y         &kp P         &kp ESC
&lpht LWIN F12 &lpht LCMD A  &lpht LALT R  &lpht LCTRL S &lpht LSHFT T &kp D                   &kp H         &rpht LSHFT N &rpht LCTRL E &rpht LALT I  &rpht LCMD O  &rpht LWIN ESC
&kp GRAVE      &kp Z         &kp X         &kp C         &kp V         &kp B                   &kp K         &kp M         &doco         &cose         &quex         &kp ESC
                                           &lt NAV LSHFT &kp TAB       &bade                   &kp SPACE     &kp RET       &lt NUM LCTRL
                        >;
                };

                nav_layer {
                        bindings = <
&none         &none         &none         &none         &none         &none                   &none         &kp C_PP      &kp C_VOL_DN   &kp C_VOL_UP  &kp C_MUTE    &kp PSCRN
&none         &kp LCMD      &kp LALT      &kp LCTRL     &kp LSHFT     &none                   &none         &kp LEFT      &kp RIGHT      &kp UP        &kp DOWN      &none
&none         &none         &none         &none         &none         &none                   &kp AT        &kp EQUAL     &kp HASH       &kp DLLR      &kp PRCNT     &kp TILDE
                                          &none         &none         &none                   &none         &none         &none
                        >;
                };

                num_layer {
                        bindings = <
&none         &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                  &kp F6        &kp F7        &kp F8         &kp F9        &kp F10       &kp F11
&none         &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                  &kp N6        &kp N7        &kp N8         &kp N9        &kp N0        &none
&none         &kp CARET     &kp AMPS      &kp PLUS      &kp STAR      &kp PIPE                &none         &none         &none          &none         &none         &none
                                          &none         &none         &none                   &none         &none         &none
                        >;
                };

                game_layer {
                        bindings = <
&kp TAB       &kp Q        &kp W        &kp E        &kp R        &kp T                   &kp Y         &kp U         &kp I          &kp O         &kp P         &none
&kp CAPS      &kp A        &kp S        &kp D        &kp F        &kp G                   &kp H         &kp J         &kp K          &kp L         &none         &none
&kp LSHFT     &kp Z        &kp X        &kp C        &kp V        &kp B                   &kp N         &kp M         &kp COMMA      &KP DOT       &kp MINUS     &none
                                        &kp ESC      &LCTRL       &kp SPACE               &none         &none         &none
                        >;
                };
        };
};
