/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &extra_keys_transform;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB     &kp Q  &kp W  &kp F      &kp P  &kp B      &kp J             &kp L          &kp U         &kp Y    &kp SEMICOLON  &kp BACKSLASH
&kp ESCAPE  &kp A  &kp R  &kp S      &kp T  &kp G      &kp M             &kp N          &kp E         &kp I    &kp O          &kp SINGLE_QUOTE
&kp LCTRL   &kp Z  &kp X  &kp C      &kp D  &kp V      &kp K             &kp H          &kp COMMA     &kp DOT  &kp FSLH       &kp RALT
                          &kp LSHFT  &mo 1  &kp SPACE  &mt LSHIFT ENTER  &kp BACKSPACE  &kp LEFT_WIN
            >;
        };

        lower_layer {
            bindings = <
&kp TAB     &kp NUMBER_1  &kp NUMBER_2    &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7      &kp NUMBER_8       &kp NUMBER_9    &kp NUMBER_0  &kp BACKSLASH
&kp ESCAPE  &kp EXCL      &kp AT          &kp HASH      &kp DLLR      &kp PRCNT     &kp CARET     &kp AMPS          &kp STAR           &kp LPAR        &kp RPAR      &mt RCTRL MINUS
&kp LCTRL   &kp GRAVE     &kp UNDERSCORE  &kp PLUS      &kp EQUAL     &kp N5        &kp TILDE     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RBRC      &kp RALT
                                          &kp TAB       &trans        &trans        &trans        &trans            &kp LWIN
            >;
        };
    };
};
